<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">

        <div id="app">

            <v-app>

                <v-app-bar color="deep-blue accent-4" dark app v-if="mode">
                    <v-toolbar-title>Course Enrolment</v-toolbar-title>
                </v-app-bar>


                <v-main v-if="mode">

                    <v-container>
                        <h1> Currently Enrolled in Courses </h1>

                        <v-data-table
                            :headers="headers"
                            :items="enrolled_course"
                            class="elevation-1"
                            loading
                            loading-text="Oh It Appears you have no Course"
                        >
                        <template v-slot:item.actions="{ item }">
                        <v-btn
                            small
                            color = "primary"
                            class="mr-2"
                            @click="enter_class(item)"
                        >
                        Enter Course Page
                        </v-btn>
                        </template>
                        </v-data-table>
                    </v-container>


                    <v-container v-if="enrollment_period">
                        <h1> Enrollment Admin </h1>
                        
                        <h2> Enrollment Period </h2>
                        <v-data-table
                            :headers="headers_date"
                            :items="enrollment_dates"
                            class="elevation-1"
                        > </v-data-table>
                        
                        <br>

                        <h2> Pending Course to be Approve </h2>
                          <v-data-table
                            :headers="headers"
                            :items="course_pending"
                            class="elevation-1"
                            loading
                            loading-text="Oh It Appears you have nothing pending"  
                        >
                        <template v-slot:item.actions="{ item }">
                        <v-btn
                            small
                            color = "error"
                            class="mr-2"
                            @click="delete_enrollment(item)"
                        >
                        Delete  
                        </v-btn>
                        </template>
                        </v-data-table>
                    

                        <h2> Available Course </h2>
                          <v-data-table
                            :headers="headers"
                            :items="course_list"
                            class="elevation-1"
                            loading
                            loading-text="Oh It Appears you have no Course"
                            
                        >
                        <template v-slot:item.actions="{ item }">
                        <v-btn
                            small
                            color = "primary"
                            class="mr-2"
                            @click="select_class(item)"
                        >
                        Enroll  
                        </v-btn>
                        </template>
                        </v-data-table>
                    </v-container>
                </v-main>


                <v-app-bar color="deep-blue accent-4" dark app v-if = "!mode">
                    <v-toolbar-title>Class Enrollment</v-toolbar-title>
                </v-app-bar>


                <v-main v-if="!mode">

                    <v-container>
                        <h1> Classessss </h1>

                        <v-data-table
                            :headers="headers_class"
                            :items="class_list"
                            class="elevation-1"
                            loading
                            loading-text="Oh It Appears you have no Course"
                        >
                        <template v-slot:item.actions="{ item }">
                        <v-btn
                            small
                            color = "primary"
                            class="mr-2"
                            @click="enroll_complete(item)"
                        >
                        Enroll to Course
                        </v-btn>
                        </template>
                        </v-data-table>
                    </v-container>

                </v-main>



            </v-app>

        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/course_enrolment_page.js"></script>

</body>

</html>