<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">

    <v-app>
      <div>
        <v-app-bar color=#455A64 dense dark>
          <v-app-bar-nav-icon></v-app-bar-nav-icon>

          <v-toolbar-title>{{chosen_course_name}}</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-select :items="all_courses" v-model='chosen_course' label="Select Course" dense item-text="Course_Name"
          item-value="Course_ID"></v-select>
          <v-btn @click='load_course_content' icon>
            <v-icon>mdi-plus-thick</v-icon>
          </v-btn>
          <v-btn depressed large class="ma-2" @click='update_course_material' :disabled='lock_course_update_button' color="success">Update Course</v-btn>
        </v-app-bar>
      </div>



      <v-main>
        <v-container>

          <!-- This is the uploader interface for them to upload stuff! -->
          <!-- https://stackoverflow.com/questions/43013858/how-to-post-a-file-from-a-form-with-axios -->

          <v-card style="margin-bottom: 15px;" :disabled='lock_upload_materials_interface'>
            <v-toolbar flat color=#607D8B dark>
              <v-toolbar-title>Upload Material Interface</v-toolbar-title>
            </v-toolbar>
            <v-tabs vertical>
              <v-tab>
                <v-icon left>
                  mdi-numeric-1-box
                </v-icon>
                Upload Material
              </v-tab>
              <v-tab-item>
                <v-card flat>
                  <v-card-title>
                    Upload Material List
                  </v-card-title>
                  <v-radio-group v-model="new_old_section_choice">
                    <v-radio label="New Section" value="new"></v-radio>
                    <v-radio label="Old Section" value="old"></v-radio>
                  </v-radio-group>
                  <v-text-field type='number' min="1" v-model='chosen_section' :max="current_sections"
                    label="Section Number:"></v-text-field>
                  <v-text-field v-model="new_material" label="Material Name:"></v-text-field>
                  <!-- <v-file-input show-size v-model="material_path" @change='selectFile' label="File input"></v-file-input> -->
                  <v-file-input show-size @change='selectFile' label="File input"></v-file-input>
                  <v-btn depressed large class="ma-2" onclick="file_upload()" outlined color="indigo">Upload File</v-btn>
                  <v-btn depressed large class="ma-2" @click='append_material' outlined color="indigo">Update Materials</v-btn>
                </v-card>
              </v-tab-item>
            </v-tabs>
          </v-card>

          <!-- This is the uploader interface for them to upload stuff! -->

          <!-- This entire section would be V-FORED!! -->
          <div v-for='(lesson, index) in lesson_materials.Lesson_Materials'
            :keys="lesson_materials.Lesson_Materials.materials">
            <v-card style="margin-bottom: 15px;">
              <v-toolbar flat color=#607D8B dark>
                <v-toolbar-title>Section {{lesson.section_no}}</v-toolbar-title>
              </v-toolbar>
              <v-tabs vertical>
                <v-tab>
                  <v-icon left>
                    mdi-numeric-1-box
                  </v-icon>
                  Lesson
                </v-tab>
                <v-tab>
                  <v-icon left>
                    mdi-comment-question-outline
                  </v-icon>
                  <v-badge color=#E57373 content="1">
                    Quiz
                  </v-badge>
                </v-tab>

                <v-tab-item>
                  <v-card flat>
                    <v-card-title>
                      Lesson Material List
                    </v-card-title>

                    <!-- V-for list, allow users to preview the content, but the actual upload is here! -->
                    <v-list v-for="(material, index) in lesson.materials" :key="lesson.material_title">
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon>mdi-numeric-1-box-multiple-outline</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                          <v-list-item-title>{{material.material_title}}</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-action>
                          <v-btn @click='download_materials(material.material_path)' icon>
                            <v-icon>mdi-download</v-icon>
                          </v-btn>
                        </v-list-item-action>
                      </v-list-item>
                    </v-list>
                  </v-card>
                </v-tab-item>
                <!-- Quiz Tab -->
                <v-tab-item>
                  <v-card flat>
                      <v-card-title>
                        Add More Quiz
                      </v-card-title>
                      <v-list>
                        <v-list-item>
                          <v-list-item-action>
                            <v-btn depressed large class="ma-2" outlined color="indigo" target="_blank"
                              @click="go_to_quiz_builder">
                              Create New Quiz
                            </v-btn>
                          </v-list-item-action>
                        </v-list-item>
                        <v-spacer></v-spacer>
                      </v-list>
                  </v-card>
                </v-tab-item>
              </v-tabs>
            </v-card>
          </div>



        </v-container>
      </v-main>
    </v-app>

  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/course_page_trainer.js"></script>
</body>

</html>