<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">

    <v-app>
      <div>
        <v-app-bar color=#455A64 dense dark>
          <v-app-bar-nav-icon></v-app-bar-nav-icon>

          <v-toolbar-title v-model='chosen_class'>{{student}}</v-toolbar-title>

          <v-spacer></v-spacer>
          <!-- <v-select :items="all_classes" v-model='chosen_class' label="Select Course" dense item-text="Course_Name"
          item-value="Course_ID"></v-select> -->
          <!-- <v-btn @click='load_course_content' icon>
            <v-icon>mdi-plus-thick</v-icon>
          </v-btn>
          <v-btn depressed large class="ma-2" @click='update_course_material' :disabled='lock_course_update_button' color="success">Update Course</v-btn> -->
        </v-app-bar>
      </div>

    </v-app>

  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.20/vue.cjs.min.js"></script>
  <script src="js/course_page_learner.js"></script>
</body>

</html>