<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">

    <v-app>
      <v-navigation-drawer clipped app>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              Questions list
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense nav>
          <v-list-item v-for="question in questions_store" :key="question.question_name" link>

            <v-list-item-content @click="edit_question(question.question_no)">
              <v-list-item-title>{{question.question}}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar color="deep-purple accent-4" dark app>
        <v-toolbar-title>Quiz Builder</v-toolbar-title>
      </v-app-bar>


      <v-main>
        <v-container>
          <v-row style="margin-bottom: 3px">
            <v-col cols="12" md="12">

              <v-card>
                <v-card-title class="text-h6">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn icon v-bind="attrs" v-on="on">
                        <v-icon color="grey lighten-1">
                          mdi-cloud-question
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>You can select two types of questions.
                      <ul>
                        <li>MCQ</li>
                        <li>True/False</li>
                      </ul>
                    </span>
                  </v-tooltip>
                  Choose Question Type:
                  <v-btn-toggle v-model='q_type_top' style="margin-left: 10px" mandatory tile color="deep-purple accent-3" group>
                    <v-btn value="MCQ" v-on:click='switch_mcq'>
                      MCQ
                    </v-btn>
                    <v-btn value="Binary" v-on:click='switch_binary'>
                      True/False
                    </v-btn>
                  </v-btn-toggle>
                </v-card-title>

              </v-card>


            </v-col>
          </v-row>

          <!-- This part is the MCQ portion -->
          <v-card v-if='mcq' style='padding: 20px'>
            <v-card-title>
              Question:
            </v-card-title>
            <v-form>
              <v-row>
                <v-col>
                  <v-text-field v-model="question_name" color="purple darken-2" label="Question to Ask" outlined
                    required>
                  </v-text-field>
                </v-col>
              </v-row>

              Provide the Options:
              <v-text-field v-model="options[0]" label='Option 1' outlined></v-text-field>
              <v-text-field v-model="options[1]" label='Option 2' outlined></v-text-field>
              <v-text-field v-model="options[2]" label='Option 3' outlined></v-text-field>
              <v-text-field v-model="options[3]" label='Option 4' outlined></v-text-field>

              Pick the correct Answer:
              <v-radio-group v-model="correct_option">
                <v-radio value='1' :label='options[0]'></v-radio>
                <v-radio value='2' :label='options[1]'></v-radio>
                <v-radio value='3' :label='options[2]'></v-radio>
                <v-radio value='4' :label='options[3]'></v-radio>
              </v-radio-group>

              <v-btn outlined color="indigo" onclick="mcq_question_submit()" block>
                Submit Question
              </v-btn>
            </v-form>
          </v-card>

          <!-- True/False -->
          <v-card v-if='binary'>
            <v-card-title>
              Question {{question_latest}}:
            </v-card-title>
            <v-form style='padding-left: 20px; padding-right: 20px'>
              <v-row>
                <v-col>
                  <v-text-field v-model="question_name" color="purple darken-2" label="Question to Ask true/false"
                    outlined required>
                  </v-text-field>
                </v-col>
              </v-row>
              Pick the correct Answer:
              <v-radio-group v-model="correct_option_binary">
                <v-radio value='true' label='True'></v-radio>
                <v-radio value='false' label='False'></v-radio>
              </v-radio-group>

              <v-btn outlined color="indigo" onclick="binary_question_submit()" block>
                Submit Question
              </v-btn>
            </v-form>
          </v-card>

        </v-container>

      </v-main>
    </v-app>

  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="js/quiz_builder.js"></script>

</body>

</html>
