<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">

    <v-app >

      <v-divider></v-divider>
      



      <v-navigation-drawer clipped app v-if="show_quiz">
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              Questions list:
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense nav>
          <v-list-item v-for="question in questions_store" :key="question.question_name" link>

            <v-list-item-content>
              <v-list-item-title> {{question.question_title}}
              </v-list-item-title>
              <v-btn depressed color="primary" @click="edit_question(question.question_no)"> Edit </v-btn>
              <v-btn depressed color="error" @click="delete_question(question.question_no)"> Delete </v-btn>

            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      
      <v-app-bar color="deep-purple accent-4" dark app>
        <v-toolbar-title>Quiz Builder</v-toolbar-title>
        <v-col class="text-right">
        <!-- This is to commit to the Server the changes made-->
        <v-btn elevation="2" v-on:click='submit_database' v-if="show_quiz"> Submit </v-btn>
        </v-col>
        
      </v-app-bar>

      <!-- Starting Interface -->
      

      <v-main v-if ="!show_quiz">

      <h1> Edit your Quiz </h1>

      <v-data-table
        :headers="headers"
        :items="quiz_list"
        class="elevation-1"
        loading
        loading-text="Oh It Appears you have no Quiz"
        
      >
      <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editQuiz(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteExistingQuiz(item)"
      >
        mdi-delete
      </v-icon>
      </template>
      </v-data-table>


      <h1> Or you can start a new quiz </h1>

        <v-data-table
        :headers="headers2"
        :items="course_list"
        class="elevation-1"
        loading
        loading-text="Oh It Appears you have no Class"
        
      >
      <template v-slot:item.act="{ item }">

        <v-select
          v-model = "seclected_section"
          :items="items"
          label="Standard"
          width="20px"
        ></v-select>

      <v-icon
        small
        class="mr-2"
        @click="newQuiz(item)"
      >
        mdi-pencil
      </v-icon>
      </template>
      
      </v-data-table>


      </v-main>


      <v-main v-if="show_quiz">
        <v-container>
          <v-row style="margin-bottom: 3px">
            <!-- Button grouping to specify if users want to see results by Market of Protection/ -->
            <v-col cols="12" md="12">

              <v-card>
                <v-card-title class="text-h6">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn icon v-bind="attrs" v-on="on">
                        <v-icon color="grey lighten-1">
                          mdi-cloud-question
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>You can select two types of questions.
                      <ul>
                        <li>MCQ</li>
                        <li>True/False</li>
                      </ul>
                    </span>
                  </v-tooltip>
                  Choose Question Type:
                  <v-btn-toggle v-model='q_type_top' style="margin-left: 10px" mandatory tile color="deep-purple accent-3" group>
                    <v-btn value="MCQ" v-on:click='switch_mcq'>
                      MCQ
                    </v-btn>
                    <v-btn value="Binary" v-on:click='switch_binary'>
                      True/False
                    </v-btn>
                  </v-btn-toggle>
                </v-card-title>

              </v-card>


            </v-col>
          </v-row>

          <!-- This part is the MCQ portion -->
          <v-card v-if='mcq' style='padding: 20px'>
            <v-card-title v-if="mode">
              New Question:
            </v-card-title>
            
            <v-card-title v-if="!mode">
              Edit Question:
            </v-card-title>

              <v-row>
                <v-col>
                  <v-text-field v-model="question_title" color="blue darken-2" label="Title" outlined
                    required></v-text-field>
                  <v-text-field v-model="question_name" color="purple darken-2" label="Question to Ask" outlined
                    required>
                  </v-text-field>
                </v-col>
              </v-row>

              Provide the Options:
              <v-text-field v-model="options[0]" label='Option 1' outlined></v-text-field>
              <v-text-field v-model="options[1]" label='Option 2' outlined></v-text-field>
              <v-text-field v-model="options[2]" label='Option 3' outlined></v-text-field>
              <v-text-field v-model="options[3]" label='Option 4' outlined></v-text-field>

              Pick the correct Answer:
              <v-radio-group v-model="correct_option">
                <v-radio value='1' :label='options[0]'><template v-slot:label>Option 1</template></v-radio>
                <v-radio value='2' :label='options[1]'><template v-slot:label>Option 2</template></v-radio>
                <v-radio value='3' :label='options[2]'><template v-slot:label>Option 3</template></v-radio>
                <v-radio value='4' :label='options[3]'><template v-slot:label>Option 4</template></v-radio>
              </v-radio-group>

              <v-btn v-if="mode" outlined color="indigo" onclick="mcq_question_submit()" block>
                Submit Question
              </v-btn>

              <v-btn v-if="!mode" outlined color="indigo" onclick="mcq_question_submit()" block>
                Submit Question
              </v-btn>

            </v-form>
          </v-card>

          <!-- True/False -->
          <v-card v-if='binary'>
            <v-card-title v-if="mode">
              New Question:
            </v-card-title>
            
            <v-card-title v-if="!mode">
              Edit Question:
            </v-card-title>

            <v-form style='padding-left: 20px; padding-right: 20px'>


              <v-row>
                <v-col>
                  <v-text-field v-model="question_title" color="blue darken-2" label="Title" outlined
                    required></v-text-field>
                  <v-text-field v-model="question_name" color="purple darken-2" label="Question to Ask true/false"
                    outlined required>
                  </v-text-field>
                </v-col>
              </v-row>
              Pick the correct Answer:
              <v-radio-group v-model="correct_option_binary">
                <v-radio value='true' label='True'></v-radio>
                <v-radio value='false' label='False'></v-radio>
              </v-radio-group>

              <v-btn v-if="mode" outlined color="indigo" onclick="binary_question_submit()" block>
                Submit Question
              </v-btn>

              <v-btn v-if="!mode" outlined color="indigo" onclick="binary_question_submit()" block>
                Edit Question
              </v-btn>

            </v-form>
          </v-card>

        </v-container>

      </v-main>
    </v-app>

  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>\
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="js/quiz_builder.js"></script>
</body>

</html>